#about-header {
    font-size: 57px;
    font-family: "Archivo Black";
    display: flex;
    justify-content: flex-end;
}

#skills-header {
    font-size: 57px;
    font-family: "Archivo Black";
}

#about-content > p {
    font-family: "NeueMontrealLight";
    font-size: 20px;
}

#skills-list {
    display: flex;
    justify-content: space-between;
}

#skills-list ul {
    padding: 0px;
}

#skills-list ul li {
    font-size: 20px;
    font-family: "NeueMontrealLight";
    list-style-type: none;
}
a.anchor {
    display: block;
    position: relative;
    top: -250px;
    visibility: hidden;
}