body {
  background-color: #efeee9;
}

a {
  text-decoration: none;
  color: black;
}

a:active {
  color: black;
}

a:hover {
  color: black;
}

button:focus {
  outline: none;
}

@font-face {
  font-family: NeueMontreal;
  src: url(../static/fonts/NeueMontreal-Regular.otf);
}

@font-face {
  font-family: NeueMontrealLight;
  src: url(../static/fonts/NeueMontreal-Light.otf);
}

@font-face {
  font-family: NMBold;
  src: url(../static/fonts/NeueMontreal-Bold.otf);
}

@font-face {
  font-family: Migra;
  src: url(../static/fonts/Migra-Extralight.otf);
}
@font-face {
  font-family: MigraBold;
  src: url(../static/fonts/Migra-Extrabold.otf);
}