* {
  background-color:#f0faf1;
}

.landing-section {
  min-height: 100vh;
  margin: 30px 150px 0 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sub-section {
  min-height: 100vh;
  display: flex;
  margin-top: 100px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@font-face {
  font-family: NeueMontreal;
  src: url(../public/static/fonts/NeueMontreal-Regular.otf);
}

@font-face {
  font-family: NeueMontrealLight;
  src: url(../public/static/fonts/NeueMontreal-Light.otf);
}

@font-face {
  font-family: NMBold;
  src: url(../public/static/fonts/NeueMontreal-Bold.otf);
}