* {
  font-family: "NeueMontreal", sans-serif;
}

body {
  background-color: #efeee9;
}

section {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: black;
}

a:active {
  color: black;
}

a:hover {
  color: black;
}

button:focus {
  outline: none;
}

@font-face {
  font-family: NeueMontreal;
  src: url(../static/fonts/NeueMontreal-Regular.otf);
}

@font-face {
  font-family: NeueMontrealLight;
  src: url(../static/fonts/NeueMontreal-Light.otf);
}

@font-face {
  font-family: NMBold;
  src: url(../static/fonts/NeueMontreal-Bold.otf);
}